{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/post_create.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/post-form-media.css' %}">
{% endblock links %}
{% block content %}
  <div class="content-section">
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
              {% endfor %}
            </ul>
            {% endif %}
              <legend class="border-bottom mb-4">Создание нового табеля</legend>
              {{ form.title|as_crispy_field }}
              {{ form.length|as_crispy_field }}
              <div class="button-container">
                <div class="form-group">
                  <button class="btn btn-outline-success" type="sumbit">Создать</button>
                </div>
              </div>
          </fieldset>
      </form>
  </div>
{% endblock content %}
